html
  head
    link(rel="stylesheet" href="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.rtl.min.css")
    link(rel='stylesheet' href="/stylesheets/style.css")
    link(rel='icon' href='/images/favicon.svg')

  body(style="background-color:"+background_color)
   div(class="ui container")
    h2(class="ui center aligned icon block header")
      i(class="music icon" style="padding: 20px; color:"+background_color)   
        h1(style="font-size:.4em; font-family:Lato; color: rgb(223, 22, 39)") Modernizing with AI & Music
      div(class="four ui buttons")
        button(class="ui button" onclick="parent.open('https://github.com/features/copilot')") GitHub Copilot
        button(class="ui button" onclick="parent.open('https://aka.ms/ghcp-legacy2modern')") GitHub Repo
        button(class="ui button" onclick="parent.open('https://aka.ms/aca-docs')") Docs
        button(class="ui button" onclick="parent.open('http://aka.ms/aca-roadmap')") Public Roadmap
    block content

